*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    color: #f1efec00;
}

body {
    /* default browserstyles geven een marge aan je body --> override, op 0 plaatsen */
    margin: 0 auto;
    color: #152f4f;
    max-width: 80rem;
    background-color: #fefefe;
    min-height: 100vh;
}

main {
    max-width: 80rem;
    margin: 0 2rem;
}

header {
    font-size: 1rem;
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin: 1rem;
    height: 5rem;
    border-radius: 0 0 1.5rem 1.5rem;

}

#map {
    height: 30rem;
    width: 30rem;
}

#canvas {
    background-color: #fff;
    width: 100%;
    height: 100%;
    cursor: none;
}

.nl {
    display: none;
}

.canvas0 {
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-left: 0;
}

header a {

    font-weight: bold;
    color: inherit;
    text-decoration: none;
}

img {
    width: 5rem;
}

header h1 {
    display: flex;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    cursor: pointer;
    align-items: center;


}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none
}

.nav,
.help {
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.nav li,
.help li {
    list-style-type: none;
    width: fit-content;
    padding: 0 0;
    margin: 0 0;
    justify-content: flex-start;
    z-index: 1;
}

.nav li a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: .1rem;
    padding: .8rem .5rem;
    margin: 0 0;

    transition: all .3s ease-in-out;
}

.nav li a i {
    padding: 0;
    padding-right: .5rem;
    height: fit-content;
    width: fit-content;
}

.nav-line {
    display: none;
    background-color: #152f4f;
    position: absolute;
    height: .25rem;
    top: 8rem;
    transition: all 0.1s ease;
}

nav ul a:hover,
nav ul a:focus-visible {
    color: #146edd;
}

.button {
    position: relative;
    display: inline-block;
    background-color: #21a687;
    color: #FFF;
    text-decoration: none;
    letter-spacing: .1rem;
    border: .2rem solid transparent;
    font-weight: bold;
    padding: .4rem 1rem;
    border-radius: 2rem;
    margin: 0 0;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.login {
    background-color: #152f4f;
}

.button i {
    padding: 0 .5rem;
    height: fit-content;
    width: fit-content;
    color: #fff;
}

nav .button {
    margin-left: 1.8rem;

}

.help {
    padding: 0;
    margin: 0;
}

.button:hover,
.button:focus-visible {
    background-color: #209a7d;
    transition: .3s ease-in-out;
}

.login:hover,
.login:focus-visible {
    background-color: #11253e;
    transition: .3s ease-in-out;
}

/* Main */

main .search {
    display: flex;
    align-items: center;
    position: relative;
}

.search h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-decoration: none;
    justify-self: flex-start;
}

.search input {
    position: absolute;
    font-size: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding: .5rem;
    color: inherit;
    width: 40%;
    text-decoration: none;
    justify-self: center;
    border-radius: .5rem;
    border: .3rem solid #152f4f;
}

/* Game trailers */

.trailers,
.games {
    margin: 0;
    padding: 2rem 0;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1rem #000A;
    background-color: #209a7d;
}

.slider {
    position: relative;
    width: 100%;
    height: 27rem;
    border-radius: 1rem;
    padding: 0 0 3rem;
    overflow: hidden;
}

.slides {
    width: 600%;
    height: 25rem;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 16.666%;

    transition: 2s;
}

.trailer,
.game {
    display: flex;
    flex-direction: row-reverse;
    background-color: #146edd;
    box-shadow: 0 0 1rem #000A;
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem auto;
    width: 50rem;
    gap: 2rem;
    height: 22rem;
    color: #fefefe;
}

.game h3 {
    margin: 0 0;
    margin-bottom: .5rem;
}

.game img {
    width: 50%;
    max-height: 18rem;
    border-radius: 1rem;
    border: .2rem solid #000A;
    object-fit: cover;
}
.navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: 0rem;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: .2rem solid #ffffff;
    padding: .5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 4rem;
}

.manual-btn:hover {
    background-color: #fff;
}

#radio1:checked~.first,
#game-radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first,
#game-radio2:checked~.first {
    margin-left: -16.66%;
}

#radio3:checked~.first,
#game-radio3:checked~.first {
    margin-left: -33.33%;
}

#radio4:checked~.first,
#game-radio4:checked~.first {
    margin-left: -50%;
}
#radio5:checked~.first,
#game-radio5:checked~.first {
    margin-left: -66.66%;
}

#radio6:checked~.first,
#game-radio6:checked~.first {
    margin-left: -83.33%;
}


.navigation-auto {
    position: absolute;
    width: 100%;
    margin-top: 25rem;
    display: flex;
    justify-content: center;
}

.navigation-auto div {
    border: .2rem solid #ffffff;
    padding: .5rem;
    border-radius: 1rem;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 4rem;
}

#radio1:checked~.navigation-auto .auto-btn1,
#game-radio1:checked~.navigation-auto .game-auto-btn1 {
    background-color: #fff;
}

#radio2:checked~.navigation-auto .auto-btn2,
#game-radio2:checked~.navigation-auto .game-auto-btn2 {
    background-color: #fff;
}

#radio3:checked~.navigation-auto .auto-btn3,
#game-radio3:checked~.navigation-auto .game-auto-btn3 {
    background-color: #fff;
}

#radio4:checked~.navigation-auto .auto-btn4,
#game-radio4:checked~.navigation-auto .game-auto-btn4 {
    background-color: #fff;
}

#radio5:checked~.navigation-auto .auto-btn5,
#game-radio5:checked~.navigation-auto .game-auto-btn5 {
    background-color: #fff;
}

#radio6:checked~.navigation-auto .auto-btn6,
#game-radio6:checked~.navigation-auto .game-auto-btn6 {
    background-color: #fff;
}

.text {
    width: 50%;
}

.trailer iframe {
    border-radius: 1rem;
    height: 100%;
}

.game-container {
    padding: 2rem;
    margin: 2rem auto;

}

.game-container ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    width: 100%;
    gap: 4rem;
    padding: 0;
}

.game-container ul li section {
    width: 100%;
    height: 15rem;
}
.our-team img {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
}


.thanks {
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1rem;
    box-shadow: 0 0 1rem #000A;
    width:fit-content;
}
.thanks h2 {
    margin-bottom: .5em;
    width:fit-content;
}

.thanks p {
    margin-bottom: 1em;
    line-height: 1.5em;
    width:fit-content;
}

/* footer styling */
/*Footer*/
.social-icons {
    font-size: large;
    cursor: pointer;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-linkedin:hover,
.fa-twitch:hover,
.fa-facebook:focus-visible,
.fa-instagram:focus-visible,
.fa-twitter:focus-visible,
.fa-linkedin:focus-visible,
.fa-twitch:focus-visible {
    color: #209a7d;
}

.fa {
    color: rgb(23, 23, 23);
    width: 2rem;
    height: 2rem;
    padding: .5rem;
    left: 0;
    top: 0;
}

footer {
    display: flex;
    padding: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

footer section {
    padding: 0 0;
}

footer p {
    font-size: large;
    color: rgb(23, 23, 23)
}

.certificate {
    display: flex;
    justify-content: center;
}

.certificate img {
    width: 50rem;
}

.selectie {
    text-align: center;
    margin-bottom: 5rem;
}
.selectie ul {
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.selectie ul li {
    border: solid .2rem #11253e;
    background-color: #146edd;
    margin: 1rem;
    list-style: none;
    width: 5rem;
    height: 5rem;
    font-size: 150%;
    border-radius: 1rem;
    padding-top: 1.2rem;
}

.selectie ul li:hover {
    box-shadow: 0 1.2rem 1rem 0 #000A, 0 1.1rem 3.5rem 0 #0009;
}

.selectie ul li a {
    text-decoration: none;
    color: #11253e;
    font-size: 120%;
    text-align: center;
}

.vliegveld div {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.vliegveld {
    text-align: center;
}
.wd1{
    width: 100%;
    height: 100%;
    display: flex;
}
.wd2{
    width: 8rem;
    height: 8rem;
    position: relative;
    animation-name: example;
    animation-duration: 5s;
    top: 22rem;
    border-radius: 30%;

}

@keyframes example {
    0%   { left: 0; top:22rem;}
    5%   { left: 2.5rem; top:23rem;}
    10%  { left: 5rem; top:24rem;}
    15%  { left: 7.5rem; top:21rem;}
    20%  { left: 10rem; top: 22rem;;}
    25%  { left: 12.5rem; top:23rem;}
    30%  { left: 15rem; top:20rem;}
    35%  { left: 17.5rem; top: 17rem;}
    40%  { left: 20rem; top: 14rem;}
    45%  { left: 22.5rem; top:15rem;}
    50%  { left: 25rem; top:16rem;}
    55%  { left: 27.5rem; top:17rem;}
    60%  { left: 30rem; top:18rem;}
    65%  { left: 32.5rem; top:19rem;}
    70%  { left: 35rem; top:20rem;}
    75%  { left: 37.5rem; top:21rem;}
    80%  { left: 40rem; top:22rem;}
    85%  { left: 42.5rem; top:23rem;}
    90%  { left: 45rem; top:24rem;}
    95%  { left: 47.5rem; top:25rem;}
    100%  { left: 51rem; top:26rem;}
}