*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    color: #f1efec00;
}

body {
    /* default browserstyles geven een marge aan je body --> override, op 0 plaatsen */
    margin: 0 auto;
    color: #152f4f;
    max-width: 1280px;
    background-color: #fefefe;
}

main {
    max-width: 1280px;
    margin: 0 2rem;
}

header {
    font-size: 1rem;
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin: 1rem;
    height: 5rem;
    border-radius: 0px 0px 1.5rem 1.5rem;

}

#map {
    height: 500px;
    width: 500px;
}

#canvas {
    background-color: #fff;
    width: 100%;
    height: 100%;
    cursor: none;
}

.nl {
    display: none;
}

header a {

    font-weight: bold;
    color: inherit;
    text-decoration: none;
}

img {
    width: 5rem;
}

header h1 {
    display: flex;
    font-size: 1.5rem;
    letter-spacing: 1px;
    cursor: pointer;
    align-items: center;


}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none
}

.nav,
.help {
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.nav li,
.help li {
    list-style-type: none;
    width: fit-content;
    padding: 0 0;
    margin: 0 0;
    justify-content: flex-start;
    z-index: 1;
}

.nav li a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: .8rem .5rem;
    margin: 0 0;

    transition: all .3s ease-in-out;
}

.nav li a i {
    padding: 0;
    padding-right: .5rem;
    height: fit-content;
    width: fit-content;
}

.nav-line {
    display: none;
    background-color: #152f4f;
    position: absolute;
    height: .25rem;
    top: 8rem;
    transition: all 0.1s ease;
}

nav ul a:hover,
nav ul a:focus-visible {
    color: #146edd;
}

.button {
    position: relative;
    display: inline-block;
    background-color: #21a687;
    color: #FFF;
    text-decoration: none;
    letter-spacing: 1px;
    border: .2rem solid transparent;
    font-weight: bold;
    padding: .4rem 1rem;
    border-radius: 2rem;
    margin: 0 0;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.login {
    background-color: #152f4f;
}

.button i {
    padding: 0 .5rem;
    height: fit-content;
    width: fit-content;
    color: #fff;
}

nav .button {
    margin-left: 1.8rem;

}

.help {
    padding: 0;
    margin: 0;
}

.button:hover,
.button:focus-visible {
    background-color: #209a7d;
    transition: .3s ease-in-out;
}

.login:hover,
.login:focus-visible {
    background-color: #11253e;
    transition: .3s ease-in-out;
}

/* Main */

main .search {
    display: flex;
    align-items: center;
    position: relative;
}

.search h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-decoration: none;
    justify-self: flex-start;
}

.search input {
    position: absolute;
    font-size: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding: .5rem;
    color: inherit;
    width: 40%;
    text-decoration: none;
    justify-self: center;
    border-radius: .5rem;
    border: .3rem solid #152f4f;
}

/* Game trailers */

.trailers,
.games {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #152f4f;
}

.slider {
    position: relative;
    width: 100%;
    height: 27rem;
    border-radius: 1rem;
    padding: 0 0 3rem;
    overflow: hidden;
}

.slides {
    width: 600%;
    height: 25rem;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 16.666%;

    transition: 2s;
}

.trailer,
.game {
    display: flex;
    flex-direction: row-reverse;
    background-color: #dbdbdb;
    box-shadow: 0 0 1rem #AAA;
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem auto;
    width: 50rem;
    gap: 2rem;
    height: 22rem;
}

.game img {
    width: 50%;
    max-height: 18rem;
    object-fit: cover;
}
.navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: 0rem;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #ffffff;
    padding: .5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 4rem;
}

.manual-btn:hover {
    background-color: #fff;
}

#radio1:checked~.first,
#game-radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first,
#game-radio2:checked~.first {
    margin-left: -16.66%;
}

#radio3:checked~.first,
#game-radio3:checked~.first {
    margin-left: -33.33%;
}

#radio4:checked~.first,
#game-radio4:checked~.first {
    margin-left: -50%;
}
#radio5:checked~.first,
#game-radio5:checked~.first {
    margin-left: -66.66%;
}

#radio6:checked~.first,
#game-radio6:checked~.first {
    margin-left: -83.33%;
}


.navigation-auto {
    position: absolute;
    width: 100%;
    margin-top: 25rem;
    display: flex;
    justify-content: center;
}

.navigation-auto div {
    border: 2px solid #ffffff;
    padding: .5rem;
    border-radius: 1rem;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 4rem;
}

#radio1:checked~.navigation-auto .auto-btn1,
#game-radio1:checked~.navigation-auto .game-auto-btn1 {
    background-color: #fff;
}

#radio2:checked~.navigation-auto .auto-btn2,
#game-radio2:checked~.navigation-auto .game-auto-btn2 {
    background-color: #fff;
}

#radio3:checked~.navigation-auto .auto-btn3,
#game-radio3:checked~.navigation-auto .game-auto-btn3 {
    background-color: #fff;
}

#radio4:checked~.navigation-auto .auto-btn4,
#game-radio4:checked~.navigation-auto .game-auto-btn4 {
    background-color: #fff;
}

#radio5:checked~.navigation-auto .auto-btn5,
#game-radio5:checked~.navigation-auto .game-auto-btn5 {
    background-color: #fff;
}

#radio6:checked~.navigation-auto .auto-btn6,
#game-radio6:checked~.navigation-auto .game-auto-btn6 {
    background-color: #fff;
}

.text {
    width: 50%;
}

.trailer iframe {
    border-radius: 1rem;
}

.our-team img {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
}


.thanks {
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1rem;
    box-shadow: 0 0 1rem #000A;
    width:fit-content;
}
.thanks h2 {
    margin-bottom: .5em;
    width:fit-content;
}

.thanks p {
    margin-bottom: 1em;
    line-height: 1.5em;
    width:fit-content;
}

/* footer styling */
/*Footer*/
.social-icons {
    font-size: large;
    cursor: pointer;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-linkedin:hover,
.fa-twitch:hover,
.fa-facebook:focus-visible,
.fa-instagram:focus-visible,
.fa-twitter:focus-visible,
.fa-linkedin:focus-visible,
.fa-twitch:focus-visible {
    color: #146edd;
}

.fa {
    color: rgb(23, 23, 23);
    width: 35px;
    height: 35px;
    padding: 7px 7px;

    left: 0px;
    top: 0px;
}

footer {
    display: flex;
    padding: 1rem 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

footer section {
    padding: 0px 0px;
}

footer h1 {
    font-size: large;
    color: rgb(23, 23, 23)
}