@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
    font-family: 'Poppins' , 'Krono One' , sans-serif ;
}

body {
  background-color: #f5f8ff;
}
#cookiePopup {
  background-color: #ffffff;
  position: absolute;
  font-size: 14px;
  width: 70vw;
  max-width: 27em;
  box-shadow: 0 0 2em rgba(5, 0, 31, 0.15);
  font-family: 'Poppins' , 'Krono One' , sans-serif ;
  text-align: justify;
  line-height: 1.8em;
  padding: 1em 1.4em;
  border-radius: 6px;
  transition: all 0.5s ease-in;
  justify-content: start;
}
#cookiePopup img {
  display: block;
  width: 3.75em;
  transform: translateZ(0);
  position: relative;
  margin: auto;
}
#cookiePopup p {
  text-align: center;
  margin: 1.4em 0;
}
#cookiePopup button {
  background-color: #152f4f;
  border: none;
  color: #ffffff;
  font-size: 1.2em;
  padding: 1em 1.4em;
  display: block;
  position: relative;
  margin: auto;
  border-radius: 5px;
  cursor: pointer;
}
#cookiePopup button:hover{
  color: #152f4f;
  background-color: #fff;
}
#cookiePopup a {
  color: #1f4b81;
}
.hide {
  visibility: hidden;
  bottom: 0;
}
.show {
  visibility: visible;
  bottom: 2em;
}
@media only screen and (max-width: 37.5em) {
  #cookiePopup {
    width: 100%;
  }
  .hide {
    bottom: 2em;
    right: 0;
  }
  .show {
    right: 0;
    bottom: 0;
  }
}
