@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --text-color: #fff;
    --background-color: #FFF;
    --background-button-color: #152f4f;
    --border-color: #152f4f;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: url(https://i.pinimg.com/originals/ba/3d/73/ba3d738757089a28da691cf46235428b.gif);
    background-position: center;
    background-size: cover;
    align-items: center;

}

.login-text {
    font-size: 2rem;
    font-weight: 800;
}

.container {
    width: 25rem;
    min-height: 25rem;
    border-radius: .5rem;
    background-color: var(--background-color);
    box-shadow: 0 0 .5rem #000A;
    padding: 2rem;
    margin: 5rem;
    margin-right: 0;
    justify-content: end;
    top: 8rem;
    right: -3rem;
    position: absolute;
}

.container .login-email .input-groep input {
    width: 100%;
    border: 2px solid var(--border-color);
    margin: 1rem .5rem;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border-radius: .8rem;
    background: transparent;
    outline: none;
    transition: .3s;
}

.container .login-email .input-groep input:focus,
.container .login-email .input-groep input:valid {
    border-color: var(--border-color);
}

.container .login-email .input-groep .btn {
    display: block;
    width: 100%;
    margin: 1rem .5rem;
    padding: 1rem 1.5rem;
    text-align: center;
    border: none;
    background: var(--background-button-color);
    outline: none;
    border-radius: .8rem;
    font-size: 1.2rem;
    color: var(--text-color);
    cursor: pointer;
    transition: .3s;
}

.container .login-email .input-groep .btnHome {
    display: block;
    width: 100%;
    margin: 1rem .5rem;
    padding: 1rem 1.5rem;
    text-align: center;
    text-align: center;
    border: none;
    background: var(--background-button-color);
    outline: none;
    border-radius: .8rem;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

.container .login-email .input-groep .btnHome .a {

    text-decoration: none;
}

.btnHome a {
    text-decoration: none;
    color: #FFF;
}

.input-groep .btn svg {
    fill: #FFF;
}
