@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*,*::before, *::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins' , 'Krono One' , sans-serif ;
}
html{
    font-size: 1.6rem;
}
.cookie-policy{
    margin: auto;
    max-width: 1650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    padding: 1.5em 5em;
    
}
.titel{
font-size: 0.9rem;
font-weight: bold;
}


.paragraaf{
font-size: 0.6rem;
}

p{
    font-size: 0.6rem;
}
.popup{
    text-decoration: none;
}
.popup a:hover{
color: #152f4f;
}
.popup a{

}

#myBtn:hover{
background-color: #fff;
color: #000;
}
.modal {
    font-family: 'Poppins' , 'Krono One' , sans-serif ;
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    
  }
  
  .modal-content {
    border-radius: 10px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 80%;
    box-shadow: rgb(0,0,0);
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

#myBtn {
  background: #152f4f;
  border: 1px solid #152f4f;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Poppins' , 'Krono One' , sans-serif ;
  font-size: 16px;
  width: 150px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
}

#myBtn:hover,
#myBtn:active {
  background-color: initial;
  background-position: 0 0;
  color: #152f4f;
}

#myBtn:active {
  opacity: .5;
}
.info{
  text-align: center;
  justify-content: center;
  align-items: center;
}
/*Footer*/
.cookie-footer{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: center;
}

.footer-bottom{
  color: #152f4f;
}

.footer-nav
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}
