@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
		

*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    color: #f1efec00;
}


body {
    /* default browserstyles geven een marge aan je body --> override, op 0 plaatsen */
    margin: 0 auto;
    color: #152f4f;
    max-width: 1280px;
    background-color: #fefefe;
}

		.rond {
			width: 80px;
			height: 80px;
			border-radius: 100%;
			position: relative;
			background-image: url(
"https://cdn.discordapp.com/attachments/751456070810992675/1025030098203725875/gigachad.png"
				);
			background-size: cover;
			animation: movement;
		}
		/*HEADER EN NAV*/
		header {
			font-size: 1rem;
			position: relative;
			top: 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 2rem;
			margin-bottom: 1rem;
			border-radius: 0px 0px 1.5rem 1.5rem;
		
		}
		header a {

			font-weight: bold;
			color: inherit;
			text-decoration: none;
		}
		header h1 {
			display: flex;
			font-size: 1.5rem;
			letter-spacing: 1px;
			cursor: pointer;
			align-items: center;
			
		
		}
		nav {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			text-decoration: none
		}
		
		.nav, .help {
			padding: 0 1rem;
			display: flex;
			align-items: center;
		}
		
		.nav li, .help li {
			list-style-type: none;
			width:fit-content;
			padding: 0 0;
			margin: 0 0;
			justify-content: flex-start;
		
		}
		
		.nav li a {
			color: inherit;
			text-decoration: none;
			font-weight: bold;
			text-transform: capitalize;
			letter-spacing: 1px;
			padding: .8rem .5rem;
			margin: 0 0;
			transition: all .3s ease-in-out;
		}
		
		.nav li a i {
			padding: 0;
			padding-right: .5rem;
			height: fit-content;
			width: fit-content;
		}
		.nav-line {
			display: none;
			background-color: #152f4f;
			position: absolute;
			height: .25rem;
			top: 8rem;
			transition: all 0.3s ease-in-out;
		}
		
		nav ul a:hover,
		nav ul a:focus-visible {
			color: #146edd;
		}
		
		.button {
			position: relative;
			display: inline-block;
			background-color:#21a687;
			color: #FFF;
			text-decoration: none;
			letter-spacing: 1px;
			border: .2rem solid transparent;
			font-weight: bold;
			padding: .4rem 1rem;
			border-radius: 2rem;
			margin: 0 0;
			transition: all .2s ease-in-out;
			cursor: pointer;
		}
		
		.login {
			background-color:#152f4f;
		}
		
		.button i {
			padding: 0 .5rem;
			height: fit-content;
			width: fit-content;
			color:#fff;
		}
		nav .button {
			margin-left: 1.8rem;
		
		}
		
		.button:hover,
		.button:focus-visible {
			background-color: #209a7d;
			transition: .3s ease-in-out;
		}
		.login:hover,
		.login:focus-visible {
			background-color: #11253e;
			transition: .3s ease-in-out;
		}

		/* positie van de animatie */
		@keyframes movement {
			0% {
				left: 0px;
				top: 0px
			}

			5% {
				left: 300px;
				top: 200px
			}

			10% {
				left: 600px;
				top: 100px
			}

			15% {
				left: 600px;
				top: 600px
			}

			20% {
				left: 300px;
				top: 600px
			}

			25% {
				left: 600px;
				top: 400px
			}

			30% {
				left: 100px;
				top: 0px
			}

			35% {
				left: 600px;
				top: 200px
			}

			40% {
				left: 100px;
				top: 500px
			}

			45% {
				left: 0px;
				top: 600px
			}

			50% {
				left: 600px;
				top: 600px
			}

			55% {
				left: 300px;
				top: 200px
			}

			60% {
				left: 600px;
				top: 100px
			}

			65% {
				left: 800px;
				top: 600px
			}

			70% {
				left: 300px;
				top: 600px
			}

			75% {
				left: 600px;
				top: 400px
			}

			80% {
				left: 100px;
				top: 0px
			}

			85% {
				left: 600px;
				top: 200px
			}

			90% {
				left: 100px;
				top: 500px
			}

			95% {
				left: 0px;
				top: 600px
			}

			100% {
				left: 600px;
				top: 200px;
			}
			/**/
			
		}

		.details {
			left: 56rem;
			width: 350px;
			height: 100vh;
			position: relative;
			background-color:#fff;
			color: #152f4f;
			display: block;
			text-align: center;
			-webkit-user-select: none;
      	       	        -webkit-touch-callout: none;
       			-moz-user-select: none;
      		        -ms-user-select: none;
        		user-select: none;
		}

		.grond {
			flex: left;
		}

		.level {
			display: flex;
			margin: 10px;
			margin-top: 25px;
		}

		.display_score {
			margin-top: 25px;
		}
		
		button {
			border-radius: 25px;
			width: 8em;
			height: 3em;
			font-size: 20px;
			border: 2px solid #152f4f;
			background: transparent;
			color: #152f4f;
			margin: 10px;
			cursor: pointer;
		}

		button:hover {
			background-color: #152f4f;
			color: #fff;
			/*box-shadow: 0px 10px 20px 10px #000;*/
			transition-duration: 1s;
		}
	.unseclect{
	-webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
	}
